In [30]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import os

In [4]:
url="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [31]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [6]:
browser.visit(url)
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [7]:
html=browser.html

In [8]:
 soup = bs(html, 'html.parser')

In [9]:
result = soup.select_one("ul.item_list li.slide")
#print(result)
title=result.find("div", class_= "content_title").get_text()
print(title)
news=result.find("div", class_ = "article_teaser_body").get_text()
news

NASA Engineers Checking InSight's Weather Sensors

'An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.'

In [47]:
#scraping featured image url
urljpl = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(urljpl)
html=browser.html
soup = bs(html, 'html.parser')
# featured_image = browser.links.find_by_partial_text("FULL IMAGE")
# featured_image.click()
result=soup.find("div", class_ = "carousel_items")
#print(result)
image=result.find("a", class_ = "button fancybox")
print(image)

<a class="button fancybox" data-description="This is an image of the planet Uranus taken by the spacecraft Voyager 2 in 1986." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA18182_ip.jpg" data-link="/spaceimages/details.php?id=PIA18182" data-title="Uranus as seen by NASA's Voyager 2" id="full_image">
					FULL IMAGE
				  </a>

In [ ]:
#using pandas to get Mars facts
url3="https://space-facts.com/mars/"
tables = pd.read_html(url3)
#seperate tables
table1=tables[0]
table1
table2=tables[1]
table2

In [35]:
#convert tables to html
html_table1 = table1.to_html()
html_table1

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [36]:
html_table2=table2.to_html()
html_table2

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [36]:
#scraping 4 hemisphere urls
url4="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
html=browser.html
soup = bs(html, 'html.parser')
browser.visit(url4)

In [41]:
result= soup.find("div", class_='item')
print(result)

None